---
import Layout from "../layouts/Layout.astro";
import { DocuData } from "../data/docuData";
import Card from "../components/Card.astro";

// export function getStaticPaths() {
//   return [
//     { params: { docu: "los-ladrones" } },
//     { params: { docu: "gatillo-facil" } },
//     { params: { docu: "requiem" } },
//   ];
// }

export  function getStaticPaths() {
    return DocuData.map(docu => ({
            params: {docu: docu.id},
        
    }))
    
}

const { docu } = Astro.params;

const info = DocuData.find((index) => index.id === docu);


if (!info) {
  return Astro.redirect("/404");
}
---

<Layout title={`Libro ${info.title}`}>
  <main>
    <h2 class="title title-libros">Libros</h2>
    <section class="section wrapper">
      <div class="main-libros-wrapper">
        <img
          src={info.img}
          alt=""
          style={`view-transition-name: book-${info.id}`}
        />
        <div>
          <h3>{info.title}</h3>
          <span class="fecha">{info.fecha}</span>
          <p>
            {info.descripcion}
          </p>
        </div>
      </div>
    </section>
  </main>

 
</Layout>

<style>
    .title-libros {
      text-align: center;
      padding-block: 1rem;
    }
    .wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1rem;
    }

    /*Libro central*/
    .main-libros-wrapper {
      display: flex;
      border-radius: 8px;
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .main-libros-wrapper img {
      padding: 0.5rem;
    }
    img {
        border-radius: 10px;
    }
  </style>