---
import Layout from "../layouts/Layout.astro";
import { DocuData } from "../data/docuData";
import CardDocu from "../components/CardDocu.astro";

export function getStaticPaths() {
  return DocuData.map((docu) => ({
    params: { docu: docu.id },
  }));
}

const { docu } = Astro.params;

const info = DocuData.find((index) => index.id === docu);

const grid = DocuData;
---

<Layout title={`Libro ${info.title}`}>
  <main>
    <h2 class="title title-libros">Documentales</h2>
    <section class="grid section">
      {
        grid.map((info) => {
          return (
            <CardDocu
              id={info.id}
              img={info.img}
              genero={info.genero}
              rol={info.rol}
              produccion={info.produccion}
              title={info.title}
              lanzamiento={info.lanzamiento}
              descripcion={info.descripcion}
            />
          );
        })
      }
    </section>
  </main>
</Layout>

<style>
  .title-libros {
    text-align: center;
    padding-block: 1rem;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  /*Libro central*/
  .main-libros-wrapper {
    display: flex;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .main-libros-wrapper img {
    padding: 0.5rem;
  }
  img {
    max-width: 300px;
    border-radius: 10px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: center;
  }
  @media screen and (max-width: 555px) {
    .grid{
      grid-template-columns: repeat(auto-fit, minmax(318px, 555px));
    }
  }
</style>
