---
import Layout from "../layouts/Layout.astro";
import elFetiche from "../assets/img/articulos/articulos-el-fetiche.jpeg";
import rebelion from "../assets/img/articulos/articulos-rebelion.jpeg";
import masacre from "../assets/img/articulos/articulos-masacre.jpg";
---

<Layout title="articulos">
  <section class="section articulos">
    <h2 class="title title-articulos">Artículos</h2>
    <section>
      <div class="articulo flex">
        <img
          class="img img-articulos"
          src={masacre.src}
          alt="imagen del artículo El fetiche diferente"
        />
        <div class="flex-column">
          <div>
            <h3 class="articulo-title">
              Investigación. ¿Quiénes son los responsables por la masacre en la
              granja Resiliencia San Fernando de Pilar?
            </h3>
            <p class="text articulo-text">
              Artículo publicado en La Izquierda Diario en abril de 2023.
            </p>
            <p>
              El 22 de febrero cuatro jóvenes murieron ahogados por monóxido de
              carbono en un incendio en ese centro de “salud mental” del norte
              del Gran Buenos Aires. El hecho no tuvo casi cobertura mediática,
              pese a que se sabía incluso que el lugar no contaba con
              habilitación del Ministerio de Salud bonaerense. ¿Quién es
              Alejandro Merenzon, responsable de que varios de esos jóvenes
              fueran internados en esa comunidad y que hace décadas lucra con la
              vida y la muerte de consumidores problemáticos de drogas? ¿Qué rol
              cumple el Órgano de Revisión de la Ley de Salud Mental provincial?
            </p>
          </div>
          <a
            href="https://www.laizquierdadiario.com/Quienes-son-los-responsables-por-la-masacre-en-la-granja-Resiliencia-San-Fernando-de-Pilar"
            target="_blank"
            rel="noreferrer"
            class="btn leer-mas">Leer más</a
          >
        </div>
      </div>
      <div class="articulo flex">
        <img
          class="img img-articulos"
          src={rebelion.src}
          alt="imagen del artículo El fetiche diferente"
        />
        <div class="flex-column">
          <div>
            <h3 class="articulo-title">Rebelión en la granja</h3>
            <p class="text articulo-text">
              Artículo publicado en la revista THC en 2008.
            </p>
            <p>
              Hacía dos días había caído preso por unas horas en la comisaría de
              Mataderos. La cana lo había agarrado con un par de dosis de paco.
              Estaba durmiendo cuando su madre y sus lágrimas lo despertaron y
              le rogaron por favor que se internara. Se durmió después de darle
              un beso y decirle que sí. Al despertarse miró por la ventana que
              daba a la calle: cuatro hombres corpulentos cruzados de brazos se
              reían entre sí mientras observaban detenidamente a la casa. Bajó
              las escaleras, saludó a su familia y se fue.
            </p>
          </div>
          <a href="articulos.html" class="btn leer-mas">Leer más</a>
        </div>
      </div>
      <div class="articulo flex">
        <img
          class="img img-articulos"
          src={elFetiche.src}
          alt="imagen del artículo El fetiche diferente"
        />
        <div class="flex-column">
          <div>
            <h3 class="articulo-title">El fetiche diferente</h3>
            <p class="text articulo-text">
              Artículo publicado en las revistas C, del extinto diario Crítica,
              y Emeequis, de México.
            </p>
            <p>
              Ustedes dirán que exagero, pero les juro que no es así. Ya verán.
              Todo empezó por casualidad en un puesto de diarios que está en la
              cosmopolita Plaza Italia. Me encanta mirarlo detenidamente porque
              hay publicaciones de todo el mundo: siempre observo sus revistas
              buscando alguna historia rara e interesante por contar. Y así fue
              como descubrí a la revista El Cisne. Su título de tapa me causó
              intriga apenas lo vi: Devotee y wannabe, el nuevo tabú sexual. Así
              comenzó esta historia que no sé cómo terminará. Ya verán.
            </p>
          </div>
          <a href="articulos.html" class="btn leer-mas">Leer más</a>
        </div>
      </div>
      <div class="articulo flex">
        <img
          class="img img-articulos"
          src={masacre.src}
          alt="imagen del artículo El fetiche diferente"
        />
        <div class="flex-column">
          <div>
            <h3 class="articulo-title">Armas sin control</h3>
            <p class="text articulo-text">
              Artículo publicado en el sitio web Nuestras voces / 2017
            </p>
            <p>
              Hace más de un año que el Plan de Desarme está paralizado. El
              gobierno que hace de la seguridad su bandera promueve la tenencia
              de armas entre la población civil. En los hogares argentinos hay
              casi dos millones. Pablo Galfré relata en esta crónica los
              periplos para entregar a los organismos oficiales las armas que
              heredó de su padre. La respuesta de los funcionarios: ¿Por qué no
              te las quedás?
            </p>
          </div>
          <a href="articulos.html" class="btn leer-mas">Leer más</a>
        </div>
      </div>
      <div class="articulo flex">
        <img
          class="img img-articulos"
          src={masacre.src}
          alt="imagen del artículo El fetiche diferente"
        />
        <div class="flex-column">
          <div>
            <h3 class="articulo-title">Las auras</h3>
            <p class="text articulo-text">
              Artículo publicado en la revista C del extinto diario Crítica
            </p>
            <p>
              Esta crónica trata sobre la epilepsia, cruel y seductora
              enfermedad que a lo largo de la historia ha ido azotando a quienes
              la padecieran y eclipsando a quienes la investigaran. Tener
              epilepsia –ser epiléptico según la semántica que la humanidad
              suele esgrimir, cuando en realidad uno es mucho más de lo que
              tiene- siempre fue un infortunio en cualquier rincón del mundo,
              indistintamente de la cultura o tiempo que el enfermo habitara.
            </p>
          </div>
          <a href="articulos.html" class="btn leer-mas">Leer más</a>
        </div>
      </div>
      <div class="articulo flex">
        <img
          class="img img-articulos"
          src={masacre.src}
          alt="imagen del artículo El fetiche diferente"
        />
        <div class="flex-column">
          <div>
            <h3 class="articulo-title">Yo sobreviví...</h3>
            <p class="text articulo-text">
              Artículo publicado en la revista C del extinto diario Crítica
            </p>
            <p>
              La película El Protegido –El irrompible es su nombre literal,
              protagonizada por Bruce Willis- es realmente mala pero su trama
              sumamente interesante. Resulta que Samuel Lee Jackson es un cruel
              villano que provoca grandes accidentes en todo los Estados Unidos
              en pos de encontrar a un ser humano que sea “el irrompible”, que
              sobreviva a todas esas tragedias. Así, después de atentar contra
              trenes, aviones y edificios, se encuentra con que el personaje de
              Willis fue el único sobreviviente del descarrilamiento de un tren.
              El tipo no tenía ni un rasguño, nada. Finalmente, el archivillano
              había encontrado a su súper héroe.
            </p>
          </div>
          <a href="articulos.html" class="btn leer-mas">Leer más</a>
        </div>
      </div>
    </section>
  </section>

  <style>

    .title-articulos {
      text-align: center;
      padding-block: 1rem;
    }
    .articulo {
      margin-block: 1rem;
      background-color: var(--cl-ligther-blue);
      box-shadow:
        0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding: 1rem;
    }

    .img-articulos {
      padding: 0.5rem;
      border-radius: 15px;
      max-width: 300px;
      max-height: 243px;
    }

    .articulo-title {
      padding-top: 0.5rem;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .flex-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .articulo-text ~ p{
      margin-bottom: 0.3rem;
    }

    .leer-mas{
      margin-bottom: 24px;
      font-weight: 700;
    }

    @media (max-width: 620px) {
      .flex {
        flex-direction: column;
      }
      .img-articulos {
        max-width: 100%;
      }
    }
  </style>
</Layout>
