---
import { DocuData } from "../data/docuData";
import Documental from "../components/Documental.astro";
const firstFourDocs = DocuData.slice(0, 4);

---

<section class="section documentales">
  <h2 class="title">Documentales</h2>
  <div class="grid">
    {
      firstFourDocs.map((book) => {
        return (
          <Documental
            id={book.id}
            img={book.img}
            title={book.title}
            fecha={book.lanzamiento}
            descripcion={book.descripcion}
          />
        );
      })
    }
  </div>
</section>

<style>
  /* swiper-slide {
    max-width: 139px;
    height: 133px;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide {
    display: block;
    object-fit: cover; 
  } */

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
</style>
