---
import { DocuData } from "../data/docuData";
import Documental from "../components/Documental.astro"

---

<section class="section documentales">
  <h2 class="title">Documentales</h2>
  <swiper-container class="mySwiper swiper-container-docu" space-between="30"
  slides-per-view="6" pagination="true">
    {
      DocuData.map((book) => {
        return (
          <swiper-slide>
            <Documental id={book.id} img={book.img} title={book.title} fecha={book.lanzamiento} descripcion={book.descripcion}/>
          </swiper-slide>
        );
      })
    }
  </swiper-container>

</section>

<style>

  swiper-slide {
    width: 139px;
    height: 133px;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide {
    display: block;
    object-fit: cover; 
  }
</style>

