---
import { DocuData } from "../data/docuData";
import Documental from "../components/Documental.astro"

---

<section class="section documentales">
  <h2 class="title">Documentales</h2>
  <!-- <swiper-container class="mySwiper swiper-container-docu" init="false">
    {
      DocuData.map((book) => {
        return (
          <swiper-slide>
            <Documental id={book.id} img={book.img} title={book.title} fecha={book.lanzamiento} descripcion={book.descripcion}/>
          </swiper-slide>
        );
      })
    }
  </swiper-container> -->
  <div class="carrusel">
    {
      DocuData.map((ele) => {
        return(
          <div class="elemento">
            <Documental id={ele.id} img={ele.img} title={ele.title} lanzamiento={ele.lanzamiento} descripcion={ele.descripcion}/>
          </div>
        )
      })
    }

  </div>
</section>

<style>

  .carrusel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: center;
    align-items: center;
  }
  .elemento {
    flex: 1 0 auto;
    margin: 0 20px;
    width: 112px;
    height: 90px;
  }
 

  swiper-slide {
    width: 112px;
    height: 90px;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide {
    display: block;
    object-fit: cover; 
  }

 
</style>

