---
import Libro from "./Libro.astro";
import { LibrosData } from "../data/librosData";

---
<section class="section libros">
  <h2 class="title">Libros</h2>

  <swiper-container class="mySwiper" init="false">
    {
      LibrosData.map((book) => {
        return (
          <swiper-slide>
            <Libro id={book.id} img={book.img} title={book.title} fecha={book.fecha} descripcion={book.descripcion}/>
          </swiper-slide>
        );
      })
    }
  </swiper-container>
</section>

<style>
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    width: 312px;
    height: 200px;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide {
    display: block;
    object-fit: cover; 
  }

 
</style>

<script>
  const swiperEl = document.querySelector("swiper-container");
  Object.assign(swiperEl, {
    slidesPerView: 1,
    spaceBetween: 10,
    pagination: {
      clickable: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 40,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 40,
      },
    },
  });
  swiperEl.initialize();

    // Escucha el evento `astro:content:updated`
    addEventListener("contentUpdated", () => {
    // Vuelve a renderizar la galería
    swiperEl.initialize();
  });
</script>
