---
import Libro from "./Libro.astro";
import { LibrosData } from "../data/librosData";

---
<section class="section libros">
  <h2 class="title">Libros</h2>

  <swiper-container class="mySwiper" space-between="30"
  slides-per-view="3">
    {
      LibrosData.map((book) => {
        return (
          <swiper-slide>
            <Libro id={book.id} img={book.img} title={book.title} fecha={book.fecha} descripcion={book.descripcion}/>
          </swiper-slide>
        );
      })
    }
  </swiper-container>
</section>

<style>
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    width: 312px;
    height: 200px;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide {
    display: block;
    object-fit: cover; 
  }

 
</style>

<script>

</script>
