---
import Libro from "./Libro.astro";
import { LibrosData } from "../data/librosData";
---

<section class="section libros">
  <h2 class="title">Libros</h2>

  <div class="grid">
    {
      LibrosData.map((book) => {
        return (
          <Libro
            id={book.id}
            img={book.img}
            title={book.title}
            fecha={book.fecha}
            descripcion={book.descripcion}
          />
        );
      })
    }
  </div>
</section>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 1rem;
  }

  @media screen and (max-width: 555px) {
    .grid{
      grid-template-columns: repeat(auto-fit, minmax(320px, 555px));
    }
  }
</style>

<script></script>
