---
export interface Props {
  id: string;
  title: string;
  img: string;
  fecha: string;
  descripcion: string;
}

const { id, title, fecha, descripcion, img } = Astro.props;
---

<div class="main-libros-wrapper">
  <a class="img-libros" href={`/${id}`}>
    <img
      src={img}
      alt={`Portada del libro ${title}`}
      style={`view-transition-name: book-${id}`}
    />
  </a>
  <div class="wrapper-info">
    <strong class="title-libro">{title}</strong>
    <strong class="sub-title-libro">{fecha}</strong>
    <p>{descripcion.slice(0,457)}...</p>
  </div>
</div>

<style>
  .main-libros-wrapper {
    width: 100%;
    display: flex;
    gap: 0.9rem;
    border-radius: 8px;
    padding: 0.5rem;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  img {
    border-radius: 4px;
    height: 100%;
  }

  .img-libros{
    width: 100%;
  }

  .img-libros:hover {
    transform: scale(1.05);
    transition: all 0.3s ease
  }
  .wrapper-info{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title-libro {
    color: var(--cl-dark-blue);
    font-size: 1.3rem;
    margin-bottom: .8rem;
  }

  .sub-title-libro {
    color: var(--cl-dark-blue);
    margin-bottom: .8rem;
  }

  @media screen and (max-width: 555px) {
    .main-libros-wrapper{
      box-sizing: border-box;
      width: 100%;
      padding: 0.8rem;
      flex-direction: column;
    }
  }

</style>
