---
import Libro from "./Libro.astro";
import { LibrosData } from "../data/librosData";
---

<section class="section libros">
  <h2 class="title">Libros</h2>

  <div class="grid">
    {
      LibrosData.map((book) => {
        return (
          <Libro
            id={book.id}
            img={book.img}
            title={book.title}
            fecha={book.fecha}
            descripcion={book.descripcion}
          />
        );
      })
    }
  </div>
</section>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
  /* swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    width: 312px;
    height: 200px;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide {
    display: block;
    object-fit: cover; 
  } */
</style>

<script></script>
